@use 'variables' as v;

.todo-form {
  max-width: 700px;
  margin: 1.5em auto 3em;
  box-shadow: 2px 2px 4px 2px v.$shadow-color;
  background-color: v.$white;
  border: 1px solid v.$black;
  border-radius: 4px;
  padding: 0 3em 1em;

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid v.$black;
    border-radius: 4px;
    color: v.$black;
    font-family: v.$font-family;
    font-size: 1em;
    transition: background-color 0.5s ease-in;
  }

  input:focus {
    outline: none;
    background-color: v.$black;
    color: v.$white;
  }

  textarea {
    width: 100%;
    height: 200px;
    padding: 8px;
    margin-bottom: 10px;
    resize: none;
    font-size: 1em;
    border: 1px solid v.$black;
    border-radius: 4px;
    color: v.$black;
    font-family: v.$font-family;
    transition: background-color 0.5s ease-in;
  }

  textarea:focus {
    outline: none;
    background-color: v.$black;
    color: v.$white;
  }

  .date-input {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    & > * {
      margin: 5px;
    }
  }

  button {
    width: 40%;
    padding: 8px;
    font-size: 1.2em;
    color: v.$white;
    background-color: v.$light-green;
    border: 1px solid v.$black;
    border-radius: 4px;
    font-family: v.$font-family;
    transition: background-color 0.5s ease-in;
  }

  button:hover {
    background-color: v.$dark-green;
    cursor: pointer;
  }

  button:focus {
    border: 1px dotted v.$black;
    outline: none;
  }
}