@use 'variables' as v;

* {
  box-sizing: border-box;
}

::selection {
  background-color: v.$black;
  color: v.$white;
}

::-webkit-input-placeholder {
  color: v.$placeholder-color;
}

input[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: v.$black;
  background-image: url('../images/background.png'); /* Background pattern from Toptal Subtle Patterns */
  font-family: 'Muli', sans-serif;
  text-align: center;
}

main {
  flex: 1 0 auto;
  width: 100%;
}

h1 {
  font-size: 3em;
  margin: 10px;
  padding: 10px;
  letter-spacing: 1px;
}

h2 {
  font-size: 2.4em;
  margin: 10px;
  padding: 10px;
}

h3 {
  font-size: 1.8em;
  margin: 10px;
  padding: 10px;
}

p {
  font-size: 1.3em;
}

footer {
  width: 100%;
  border-top: 1px solid v.$black;
  background-color: v.$white;
  color: v.$black;
  flex-shrink: 0;
  font-size: 1.3em;
  padding: 25px;
  margin-top: 20px;
}
