@use 'variables' as v;

.checkbox-container {
  cursor: pointer;
  position: relative;
  user-select: none;
  padding-left: 2em;
  font-size: 1em;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid v.$black;
    border-radius: 4px;
  }

  .checkmark::after {
    content: "";
    position: absolute;
    left: 0.45em;
    top: 0.2em;
    width: 5px;
    height: 10px;
    border: solid v.$black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: opacity 0.5s ease-in;
    opacity: 0;
  }

  input[type="checkbox"]:checked ~ .checkmark::after {
    opacity: 1;
  }
}
