@use 'variables' as v;

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }

  .datetime {
    display: none;
  }

  .new-todo-form {
    margin: 0 0.5em;

    .date-input {
      & > * {
        margin: 5px 0;
      }
    }
  }

  .date-input {
    flex-direction: column;
  }

  .todos-dom {
    margin: 0 0.5em;
  }
}
