$font-family: 'Muli', sans-serif;

$black: #333;
$white: #eee;
$light-red: rgb(205, 45, 45);
$dark-red: rgb(160, 35, 35);
$light-green: rgb(64, 190, 64);
$dark-green: rgb(52, 156, 52);

$placeholder-color: #999;
$shadow-color: rgba(30, 30, 30, 0.5);
