$font-family: 'Muli', sans-serif;

$black: #333;
$white: #eee;
$light-red: rgb(231, 54, 54);
$dark-red: rgb(185, 40, 40);
$light-green: rgb(64, 190, 64);
$dark-green: rgb(52, 156, 52);

$placeholder-color: #999;
$shadow-color: rgba(30, 30, 30, 0.5);
